---
// Components
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import Divider from '../components/Divider.astro';
import Card from '../components/Card.astro';
---

<Layout title="Home">
	<main>
		<h1>Design the Programming Languages of Tomorrow</h1>
		<p>
			Every year brings transformational changes to the field of computer science. If this trend continues, computing will be a vastly different discipline several decades from now. We don't know how computers will change, but we know that they will.
			<br/><br/>
			Today's programming languages may be suitable for today's computers, but tomorrow's computers will require the programming languages of tomorrow.
			<br/><br/>
			Will you join us in building them?
		</p>

		<Button>
			Join Us
		</Button>
		
		<Divider/>

		<h2>Our Groups</h2>
		<p class="mb-8">
			Some people like oranges. Others enjoy bananas. And some don't eat fruit altogether. That's why we are organized into several "groups" with different focuses. You are welcome to participate in just one group, or you can dip your toes into several.
		</p>

		<h3>Working Groups</h3>
		<div class="flex gap-4 mb-8">
			<Card class="w-72 h-72">
				<h4>Bend</h4>
			</Card>

			<Card class="w-72 h-72">
				<h4>Swift</h4>
			</Card>
		</div>

		<h3>Learning Groups</h3>
		<div class="flex gap-4 mb-8">
			<Card class="w-72 h-72">
				<h4>Haskell</h4>
			</Card>

			<Card class="w-72 h-72">
				<h4>OCaml</h4>
			</Card>
		</div>

		<h3>Meta Groups</h3>
		<div class="flex gap-4">
			<Card class="w-72 h-72">
				<h4>Outreach</h4>
			</Card>

			<Card class="w-72 h-72">
				<h4>Events</h4>
			</Card>
		</div>
	</main>
</Layout>
