---
// Components
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import Divider from '../components/Divider.astro';
import Card from '../components/Card.astro';
import Image from 'astro/components/Image.astro';
---

<Layout title="Home">
	<main>
		<h1>Design the Programming Languages of Tomorrow</h1>
		<p>
			Every year brings transformational changes to the field of computer science. If this trend continues, computing will be a vastly different discipline several decades from now. We don't know how computers will change, but we know that they will.
			<br/><br/>
			Today's programming languages may be suitable for today's computers, but tomorrow's computers will require the programming languages of tomorrow.
			<br/><br/>
			Will you join us in building them?
		</p>

		<Button>
			Join Us
		</Button>
		
		<Divider/>

		<h2>Our Groups</h2>
		<p class="mb-8">
			Some people like oranges. Others enjoy bananas. And some don't eat fruit altogether. That's why we are organized into several "groups" with different focuses. You are welcome to participate in just one group, or you can dip your toes into several.
		</p>

		<h3>Working Groups</h3>
		<div class="card-grid mb-8">
			<Card class="h-full flex flex-col justify-between">
				<div>
					<h4>Bend</h4>
					<p>Bend is a massively parallel programming language based on the concept of interaction combinators.</p>
				</div>

				<img class="group-image w-[150px]" src="https://higherorderco.com/_next/image?url=%2Flogo.gif&w=828&q=75"/>
				<div class="flex justify-end">
					<Button>
						More
					</Button>
				</div>
			</Card>

			<Card class="h-full flex flex-col justify-between">
				<div>
					<h4>Swift</h4>
					<p>Swift is a high-level, multi-paradigm, general-purpose programming language developed by Apple.</p>
				</div>

				<img class="group-image w-[100px]" src="https://developer.apple.com/swift/images/swift-logo.svg"/>
				<div class="flex justify-end">
					<Button>
						More
					</Button>
				</div>
			</Card>
		</div>

		<h3>Learning Groups</h3>
		<div class="card-grid mb-8">
			<Card class="h-full flex flex-col justify-between">
				<h4>Haskell</h4>
				<p>Learn about Haskell with us!</p>

				<img class="group-image w-[100px]" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/Haskell-Logo.svg/1024px-Haskell-Logo.svg.png"/>
				<div class="flex justify-end">
					<Button>
						More
					</Button>
				</div>
			</Card>

			<Card class="h-full flex flex-col justify-between">
				<h4>OCaml</h4>
				<p>Learn about OCaml with us!</p>

				<img class="group-image w-[100px]" src="https://raw.githubusercontent.com/ocaml/ocaml-logo/refs/heads/master/Colour/SVG/colour-icon.svg"/>
				<div class="flex justify-end">
					<Button>
						More
					</Button>
				</div>
			</Card>
		</div>
	</main>
</Layout>

<style>
	.group-image {
		@apply max-w-full m-auto mb-4;
	}
</style>