---
interface Props {
    class?: string
}

const { class: styles } = Astro.props;
---

<div class={`p-4 rounded-xl border border-slate-300 ${styles || ''}`}>
    <slot/>
</div>

<style>
    div {
        @apply backdrop-blur-md;
        background: rgb(153, 153, 153);
        background: -moz-linear-gradient(315deg, rgba(228, 227, 227, 0.5) 0%, rgba(255, 255, 255, 0.75) 100%);
        background: -webkit-linear-gradient(315deg, rgba(228, 227, 227, 0.5) 0%, rgba(255, 255, 255, 0.75) 100%);
        background: linear-gradient(315deg, rgba(228, 227, 227, 0.5) 0%, rgba(255, 255, 255, 0.75) 100%);
    }
</style>