---
import Image from "astro/components/Image.astro";

import logoSquare from "../assets/images/logo/LogoBlackSquare.png"
---

<footer class="w-full p-4 flex justify-center">
    <div class="w-[750px] max-w-full border bg-black rounded-full px-6 py-4 flex justify-center">
        <Image class="h-12 w-auto" src={logoSquare} alt="λ"/>
    </div>
</nav>
